//COULEURBASDEPAGE//
$white-color: #FFFFFF;

$gray-color: #EAEAEA;

$gray-light: #F3F3F3;

$gray-wite: #F7F7F7;

$weight: bold;



//DEGRADER DE COULEUR
$pink-color-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);