@import './_mixins';
@import './_variables';

body {
    font-family: 'Roboto', sans-serif;
}

//HEADER
.headerbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .headerbar__logo {
        width: 162px;
        height: 30px;
        background: white;
        padding: 20px 0px 15px 0px;
    }

    &__shadow {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        position: relative;
    }

    &__location {
        background-color: $gray-color;
        gap: 15px;
        font-weight: bold;
    }

}

//LE PARAGRAPHE
.to-book-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 39.5px;
    padding-bottom: 50px;
    background-color: $gray-light;
}

//LE BOUTON
.btn {
    width: 218px;
    height: 50px;
    color: white;
}

//LA COULEUR DU BOUTON
.btn__pink {
    background: $pink-color-gradient;
    border-radius: 25px;
}

//UNE OMBRE AUTOUR DU BOUTON TOUT EN ENLEVANT LLA BORDURE DU BACKGROUND
.btn__pink--shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
}

//NAV

h2 {
    padding-left: 20px;
}

.margin-top-fonction {
    margin-top: 35px;
}
//CECI EST LA NAVIGATION 
.nav-barre {
    display: flex;
    flex-direction: column;
}


.nav-item {
    display: flex;
    flex-direction: row;
    height: 72.38px;
    left: 32.51px;
    top: 602.3px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;

    &__elipse {
        position: relative;
        width: 24px;
        height: 24px;
        background: #9356DC;
        border-radius: 50%;
        text-align: center;
        color: white;
    }
}

nav i {
    color: #9356DC;
}

.aligncard img {
    height: 140px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.aligncard {
    background: $gray-wite;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #FFFFFF;
    height: 200px;
    margin-bottom: 20px;
}

.card__title {
    line-height: 30%;
    padding-left: 13px;
}

.card__img {
    object-fit: cover;    
}
//CECI EST LE FOOTER AVEC LE FOND EN NOIR AVEC LA HAUTEUR DU FOND + LES DIFFERENTS PADDING
.footer {
    background: #353535;
    height: 186px;
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
}

//ICI J'AI M'Y UN FILTRE POUR POUVOIR METTRE LE LOGO DU FOOTER EN BLANC
.footer__logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    width: 120px;
    padding-top: 22px;
    padding-left: 24px;
    padding-bottom: 16px;
}
//CECI EST LA COULEUR DU TEXTE, DES ICONES QUI SE TROUVE DANS LE FOOTER MAIS EGALEMENT LA MISE A DISPOSITION DU CONTENU DU FOOTER
.footer__icon {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    gap: 12px;
    line-height: 10%;
}
//CECI EST LA TAILLE DE L'ICONE
.footer__icon-- i {
    font-size: 12px;
}