@import './_mixins';
@import './_variables';

//GENERAL
body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

span h2 {
    padding-left: 20px;
}


nav i {
    color: #7E7E7E;
}

nav i:hover {
    color: #9356DC;
}

.footer__icon-- i {
    font-size: 12px;
}

.imghead {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.nav_size--p {
    font-size: 15.04px;
}

a {
    text-decoration: none;
    color: black;
}

.title__h2 {
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    padding-left: 17px;
}

.title__h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.title--line {
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    padding-bottom: 5px;
    margin-left: 13px;
}

.btn:hover {
    transform: scale(1.2);
}

//HEADER
.headerbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &__logo {
        width: 162px;
        height: 30px;
        background: white;
        padding: 20px 0px 15px 0px;
    }

    &__shadow {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        position: relative;
    }

    &__location {
        background-color: $gray-color;
        gap: 15px;
        font-weight: bold;
    }
}


//HEADER DE LA DEUXIEME PAGE 
.headerbar-secondpage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 22%;

    &__icon {
        margin-right: 10px;
        /* Ajoute un espace entre l'icône et le logo */
    }

    &__logo {
        flex-shrink: 0;

        /* Empêche le logo de se rétrécir */

    }
}

//CECI EST LICONE BACK POUR REVENIR A LA PAGE PRECEDENTE
.header__iconback {
    color: black;
    font-size: 25px;
}

//MAINCONTAINERSECONDPAGE
.maincontainersecondpage {
    background: $gray-wite;
    border-radius: 30PX;
    top: 283px;
    position: absolute;
    width: 100%;
}


//LE PARAGRAPHE
.to-book-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39.5px 0 50px;
    background-color: $gray-light;
}

//LE BOUTON
.btn {
    width: 218px;
    height: 50px;
    color: white;

    &__pink {
        background: $pink-color-gradient;
        border-radius: 25px;

        &--shadow {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border: none;
        }
    }
}

.btn__secondpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
}


//NAV
.margin-top-fonction {
    margin-top: 35px;
}

//NAVIGATION 
.nav-barre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    .nav-item {
        display: flex;
        flex-direction: row;
        height: 72.38px;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        align-items: center;
        gap: 40px;
        margin-bottom: 30px;
        width:90%;

        &__elipse {
            display: flex;
            justify-content: center;
            align-items: center;            
            position: relative;
            z-index: 1;
            left: -12px;
            width: 24px;
            height: 24px;
            background: #9356DC;
            border-radius: 50%;
            color: white;          
        }
    }
}

.nav-item__titlecard {
    padding-left: 15px;
}

.nav-item__secondpage {
    height: 72.38px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 30px;
    width: 90%;
    line-height: 20%;
}


.nav-item__numberweight {
    display: flex;
    font-weight: 700;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 16px;
}

.maincontainer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
}

//CARD
.aligncard img {
    height: 140px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.aligncard {
    background: $gray-wite;
    padding: 20px;

    h2 {
        padding-left: 0;
        padding-bottom: 20px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #FFFFFF;
    margin-bottom: 20px;

    &__title {
        line-height: 10%;
        padding-left: 13px;
        margin-bottom: 15px;
    }

    &__img {
        object-fit: cover;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 25px;

    }
}

.card__icon-- {
    font-size: 20px;
}

.card__icon--:checked {
    background: $pink-color-gradient;
}

//CECI EST LE FOOTER AVEC LE FOND EN NOIR AVEC LA HAUTEUR DU FOND + LES DIFFERENTS PADDING
.footer {
    background: #353535;
    height: 186px;
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;

    &__logo {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
        width: 120px;
        padding-top: 22px;
        padding-left: 24px;
        padding-bottom: 16px;
    }

    &__icon {
        display: flex;
        flex-direction: row;
        color: white;
        align-items: center;
        justify-content: flex-start;
        padding-left: 24px;
        gap: 12px;
        line-height: 10%;
    }
}