@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}

span h2 {
  padding-left: 20px;
}

nav i {
  color: #7E7E7E;
}

nav i:hover {
  color: #9356DC;
}

.footer__icon-- i {
  font-size: 12px;
}

.imghead {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav_size--p {
  font-size: 15.04px;
}

a {
  text-decoration: none;
  color: black;
}

.title__h2 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  padding-left: 17px;
}

.title__h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.title--line {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
  margin-left: 13px;
}

.btn:hover {
  transform: scale(1.2);
}

.headerbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.headerbar__logo {
  width: 162px;
  height: 30px;
  background: white;
  padding: 20px 0px 15px 0px;
}
.headerbar__shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.headerbar__location {
  background-color: #EAEAEA;
  gap: 15px;
  font-weight: bold;
}

.headerbar-secondpage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 22%;
}
.headerbar-secondpage__icon {
  margin-right: 10px;
  /* Ajoute un espace entre l'icône et le logo */
}
.headerbar-secondpage__logo {
  flex-shrink: 0;
  /* Empêche le logo de se rétrécir */
}

.header__iconback {
  color: black;
  font-size: 25px;
}

.maincontainersecondpage {
  background: #F7F7F7;
  border-radius: 30PX;
  top: 283px;
  position: absolute;
  width: 100%;
}

.to-book-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39.5px 0 50px;
  background-color: #F3F3F3;
}

.btn {
  width: 218px;
  height: 50px;
  color: white;
}
.btn__pink {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
}
.btn__pink--shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
}

.btn__secondpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

.margin-top-fonction {
  margin-top: 35px;
}

.nav-barre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.nav-barre .nav-item {
  display: flex;
  flex-direction: row;
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  width: 322.49px;
}
.nav-barre .nav-item__elipse {
  width: 24px;
  height: 24px;
  background: #9356DC;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.nav-item__titlecard {
  padding-left: 15px;
}

.nav-item__secondpage {
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 30px;
  width: 322.49px;
  line-height: 20%;
}

.nav-item__numberweight {
  display: flex;
  font-weight: 700;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 16px;
}

.maincontainer p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
}

.aligncard img {
  height: 140px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.aligncard {
  background: #F7F7F7;
  padding: 20px;
}
.aligncard h2 {
  padding-left: 0;
  padding-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #FFFFFF;
  margin-bottom: 20px;
}
.card__title {
  line-height: 10%;
  padding-left: 13px;
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
}

.card__icon-- {
  font-size: 20px;
}

.card__icon--:checked {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.footer {
  background: #353535;
  height: 186px;
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
}
.footer__logo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  width: 120px;
  padding-top: 22px;
  padding-left: 24px;
  padding-bottom: 16px;
}
.footer__icon {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
  gap: 12px;
  line-height: 10%;
}/*# sourceMappingURL=style.css.map */