@import './_mixins';
@import './_variables';

//GENERAL
body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

span h2 {
    padding-left: 20px;
}


nav i {
    color: #7E7E7E;
}

nav i:hover {
    color: #9356DC;
}

.footer__icon-- i {
    font-size: 12px;
}

.imghead {
    position: absolute;
    width: 100%;
    height: 275px;
    object-fit: cover;
}

//HEADER
.headerbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &__logo {
        width: 162px;
        height: 30px;
        background: white;
        padding: 20px 0px 15px 0px;
    }

    &__shadow {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        position: relative;
    }

    &__location {
        background-color: $gray-color;
        gap: 15px;
        font-weight: bold;
    }
}

.header__back {
    color: black;
    font-size: 25px;
}

.headerbar-secondpage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerbar-secondpage__icon {
    margin-right: 10px; /* Ajoute un espace entre l'icône et le logo */
  }
  
  .headerbar-secondpage__logo {
    flex-shrink: 0; /* Empêche le logo de se rétrécir */
  }

//LE PARAGRAPHE
.to-book-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39.5px 0 50px;
    background-color: $gray-light;
}

//LE BOUTON
.btn {
    width: 218px;
    height: 50px;
    color: white;

    &__pink {
        background: $pink-color-gradient;
        border-radius: 25px;

        &--shadow {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border: none;
        }
    }
}

//NAV
.margin-top-fonction {
    margin-top: 35px;
}

//NAVIGATION 
.nav-barre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    .nav-item {
        display: flex;
        flex-direction: row;
        height: 72.38px;
        background: #F7F7F7;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
        width: 322.49px;

        &__elipse {
            width: 24px;
            height: 24px;
            background: #9356DC;
            border-radius: 50%;
            text-align: center;
            color: white;
        }
    }
}

//CARD
.aligncard img {
    height: 140px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.aligncard {
    background: $gray-wite;
    padding: 20px;

    h2 {
        padding-left: 0;
        padding-bottom: 20px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #FFFFFF;
    margin-bottom: 20px;

    &__title {
        line-height: 10%;
        padding-left: 13px;
    }

    &__img {
        object-fit: cover;
    }

    &__icon {
        display: flex;
        align-items: center;
        gap: 100px;
    }
}

//CECI EST LE FOOTER AVEC LE FOND EN NOIR AVEC LA HAUTEUR DU FOND + LES DIFFERENTS PADDING
.footer {
    background: #353535;
    height: 186px;
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;

    &__logo {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
        width: 120px;
        padding-top: 22px;
        padding-left: 24px;
        padding-bottom: 16px;
    }

    &__icon {
        display: flex;
        flex-direction: row;
        color: white;
        align-items: center;
        justify-content: flex-start;
        padding-left: 24px;
        gap: 12px;
        line-height: 10%;
    }
}